.actions {
  position: absolute;
  top: 55px;
  left: 70px;
  background: black;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}

.actions_button {
  color: #e3b001;
  cursor: pointer;
  margin: 15px;
}

.fa-clipboard, .fa-external-link-alt {
  font-size: 16px;
}