.actions {
  position: absolute;
  top: 40px;
  left: 60px;
  background: black;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}

.actions_button {
  color: #e3b001;
  cursor: pointer;
  padding: 10px;
}

.fa-clipboard, .fa-external-link-alt {
  font-size: 16px;
}