body {
  margin: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%; 
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
  align-items: center;
  justify-content: space-evenly;
}

.grid-item {
  font-size: 12px;
  position: relative;
}

.grid-item:hover .actions {
  visibility: visible;
}

.grid-item__image {
  width: 200px;
  height: 200px;
}

.grid-item__image-name {
  display: block;
}

.grid-item__image {
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.grid-item:hover .grid-item__image {
  filter: blur(2px) grayscale(1);
}

img {
  max-width: 100%;
}

.loader {
  font-size: 30px;
  margin-top: 25vh;
}

.loader__text{
  display: inline;
  margin-left: 20px;
}

.loader .fa-circle-notch {
  color: #E3AF02
}
