body {
  margin: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  grid-gap: 25px;
  background-color: #fff;
  color: #444;
  align-items: center;
  justify-content: space-evenly;
}

.grid-item {
  background-color: #ccc;
  color: #fff;
  border-radius: 0px;
  padding: 20px;
  font-size: 150%;
}

img {
  max-width: 100%
}