body {
  margin: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%; 
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
  align-items: center;
  justify-content: space-evenly;
}

.grid-item {
  font-size: 10px;
  position: relative;
}

.grid-item:hover .image_button{
  visibility: visible;
}

.grid-item__image, .grid-item img {
  width: 150px;
  height: 150px;
}

.grid-item__image {
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.grid-item:hover .grid-item__image {
  filter: blur(2px) grayscale(1);
}

img {
  max-width: 100%;
}